<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kz.taxikz.taxi4">

    <uses-sdk tools:overrideLibrary="timber.log" />
    <!-- uses permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- // for gcm -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--<uses-feature-->
    <!--android:name="android.hardware.telephony"-->
    <!--android:required="false" />-->

    <permission
        android:name="kz.taxikz.taxi4.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kz.taxikz.taxi4.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="kz.taxikz.TaxiKzApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="kz.taxikz.ui.splash.SplashScreensActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="taxikz.kz"
                    android:scheme="taxikz" />
                <data
                    android:host="taxikz.kz"
                    android:scheme="taxikz" />
            </intent-filter>
        </activity>
        <activity
            android:name="kz.taxikz.ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="kz.taxikz.ui.address.AddressActivity"
            android:label="@string/address_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="kz.taxikz.ui.orders.OrdersActivity"
            android:configChanges="orientation"
            android:label="@string/order.state"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="kz.taxikz.ui.about.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="kz.taxikz.ui.news.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="kz.taxikz.ui.news.NewsDetailActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="kz.taxikz.ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9934a1b27cbcfa1a54605fe15104feda7dec4ed" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name="kz.taxikz.google.OrderGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="kz.taxikz.google.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="kz.taxikz.google.RegistrationIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
